roles/*
!roles/requirements.yml
!roles/runtime/
!roles/runtime/**
!roles/app/
!roles/app/**
!roles/database/
!roles/database/**
!roles/webserver/
!roles/webserver/**
.vagrant
*.retry
.virtualenv
*.pyc
.idea
*.iml
*.iws
*vault_pass*.txt
.ansible
